<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Животный мир</title>
    <link rel="stylesheet" href="../libraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>

<div class="navbar-wrapper">
    <div class="navbar navbar-color navbar-inverse navbar-default navbar-static-top">
        <div class="container ">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../views/index.html"><span class="text-color-active">Главная страница</span></a></li>

                    <li class="dropdown">
                        <a id="dropdown" class="dropdown-toggle" data-toggle="dropdown"><span class="text-color">О разработчиках <b
                                class="caret"></b></span></a>
                        <ul id="list" class="dropdown-menu navbar-color">
                            <!--поменять ссылки-->
                            <li><a href="#"><span class="text-color-dropdown">Атаманчук Дмитрий</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Вабищевич Галина</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Горбачик Никита</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Донцова Александра</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Зинкевич Елена</span></a></li>
                            <!--до сюда-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col--12">
            <div class="jumbotron">
                <!--тут тоже можно поменять-->
                <h1>Самые необыкновенные животные нашей Земли</h1>
                <!--описание-->
                <p class="lead">Их не часто можно встретить в повседневной жизни</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="container marketing">

                <div class="row">
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/nosach.jpg">
                        <h2>Необыкновенный носач</h2>
                        <p>Носач — очень редкий и весьма необычный вид обезьян. Название данного вида обезьян говорит само за себя...</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="../views/nosach.html">Подробнее »</a></p>
                    </div>
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/theImperialTamarin.jpg">
                        <h2>Императорский тамарин</h2>
                        <p>Практически у всех популяция животных социальный патриархат, но только не у императорского тамарина...</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="../views/theImperialTamarin.html">Подробнее »</a></p>
                    </div>
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/phenyk.jpg">
                        <h2>Милый фенек</h2>
                        <p>Ищите себе нестандартного домашнего питомца? Тогда Вам точно подойдет милый зверек - феник.</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="../views/phenyk.html">Подробнее »</a></p>
                    </div>
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/butterfly1.jpg">
                        <h2>Завораживающая мадагаскарская бабочка</h2>
                        <p>В природе столько прекрасных созданий! И одно из них - мадагаскарская бабочка Урания...</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="../views/madagascarButterflyUrania.html">Подробнее »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr class="navbar-inverse">
            <div class="footer">
                <p class="text-center"> © Студенты группы 473601</p>
                <p class="text-center">
                    <a href="#">Наверх</a>
                </p>
                <br>
            </div>
        </div>
    </div>
</div>

<script src="../libraries/jquery-3.2.0.min.js"></script>
<script src="../libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!--<script src="../js/index.js"></script>-->
</body>
</html>