<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Животный мир</title>
    <link rel="stylesheet" href="../libraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>

<div class="navbar-wrapper">
    <div class="navbar navbar-color navbar-inverse navbar-default navbar-static-top">
        <div class="container ">
            <!--<div class="navbar-header">-->
            <!--<span class="navbar-brand text-color">Животный мир</span>-->
            <!--</div>-->

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../views/index.html"><span class="text-color-active">Главная страница</span></a></li>

                    <li class="dropdown">
                        <a id="dropdown" class="dropdown-toggle" data-toggle="dropdown"><span class="text-color">О разработчиках <b
                                class="caret"></b></span></a>
                        <ul id="list" class="dropdown-menu navbar-color">
                            <!--поменять ссылки-->
                            <li><a href="#"><span class="text-color-dropdown">Атаманчук Дмитрий</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Вабищевич Галина</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Горбачик Никита</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Донцова Александра</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Зинкевич Елена</span></a></li>
                            <!--до сюда-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col--12">
            <div class="jumbotron">
                <!--тут тоже можно поменять-->
                <h1>Добро пожаловать!</h1>
                <!--описание-->
                <p class="lead">Сюда вставить красивое описание</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="container marketing">

                <div class="row">
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/Example.jpg">
                        <h2>Название статьи</h2>
                        <p>Краткое описание</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="#">Подробнее »</a></p>
                    </div>
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/Example.jpg">
                        <h2>Название статьи</h2>
                        <p>Краткое описание</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="#">Подробнее »</a></p>
                    </div>
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/Example.jpg">
                        <h2>Название статьи</h2>
                        <p>Краткое описание</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="#">Подробнее »</a></p>
                    </div>
                    <div class="col-xs-3">
                        <!--изменить надписи, адрес картинки-->
                        <img class="img-circle" alt="Надпись, если не загрузилась картинка"
                             src="../resources/Example.jpg">
                        <h2>Название статьи</h2>
                        <p>Краткое описание</p>
                        <!--добавить в href ссылку на страницу с инфой-->
                        <p><a class="btn btn-default navbar-inverse" href="#">Подробнее »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr class="navbar-inverse">
            <div class="footer">
                <p>© 2017</p>
            </div>
        </div>
    </div>
</div>

<script src="../libraries/jquery-3.2.0.min.js"></script>
<script src="../libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>