<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article title</title>
    <link rel="stylesheet" href="../libraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/article.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar navbar-color navbar-inverse navbar-default navbar-static-top">
        <div class="container ">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../views/index.html"><span class="text-color-active">Главная страница</span></a></li>

                    <li class="dropdown">
                        <a id="dropdown" class="dropdown-toggle" data-toggle="dropdown"><span class="text-color">О разработчиках <b
                                class="caret"></b></span></a>
                        <ul id="list" class="dropdown-menu navbar-color">
                            <!--поменять ссылки-->
                            <li><a href="#"><span class="text-color-dropdown">Атаманчук Дмитрий</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Вабищевич Галина</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Горбачик Никита</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Донцова Александра</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Зинкевич Елена</span></a></li>
                            <!--до сюда-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Самые необычные животные в мире</h1>
        <p class="lead blog-description">Богатству фауны нет границ!</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Самая необыкновенная бабочка - мадагаскарская бабочка урания</h2>
                <p class="blog-post-meta">Январь 1, 2017 автор <a href="#">Выхухоль</a></p>

                <p>В природе столько прекрасных созданий! Бабочки по своей красоте занимают одно из первых мест среди многих других представителей земной фауны. Удивительные хрупкие создания, люди никогда не перестанут восхищаться их легкостью и дивными узорами, подаренными искуницей-природой. Одними из самых красивых и редких видов считается мадагаскарская бабочка урания. Эти насекомые являются представителями <a href="http://ogivotnich.ru/chlenistonogie/nasekomye/cheshuekrylye.html">отряда чешуекрылые</a> и относятся к семейству урании.</p>
                <hr>
                <blockquote>
                    <p>Как отдельный вид, урании были впервые открыты в 1773 году английским ученым Д.Друри.</p>
                </blockquote>
                <h3>Описание внешности ураний</h3>
                <p><strong>Мадагаскарские урании выделяются довольно крупными размерами среди своих сородичей. Их крылья в размахе достигают 7 – 9 сантиметров. Крылышки покрыты мелкими разноцветными чешуйками, которые вместе образуют необыкновенный узор. Чешуйки бывают желтые, зеленые, красные, голубые и черные. Края крыльев украшены нежной белой бахромой. Задние крылышки украшены маленькими хвостиками, которые придают урании еще более дивный облик.</strong></p>
                <div >
                    <img class="imageArticle" alt="Бабочка" src="../resources/butterfly.jpg">
                </div>
                <blockquote>
                    <p>Проживают эти бабочки на всей территории острова Мадагаскар, расположенного в западной части Индийского океана у берегов восточной Африки.</p>
                </blockquote>
                <h3>Образ жизни и поведение насекомого</h3>
                <p>Эти порхающие красавицы предпочитают вести активную жизнедеятельность в светлое время суток: они летают вокруг кромки деревьев или вдоль лесных тропинок. Отдыхает урания, сложив крылышки за спиной. Когда наступает темное время суток, многочисленная стая бабочек собирается в одном месте для совместного ночлега.

                <div >
                    <img class="imageArticle" alt="Бабочка" src="../resources/butterfly1.jpg">
                </div>
                    <p><em>Яркая и пестрая окраска ураний является предупредительным сигналом для животных, желающих поохотиться на этих насекомых, она говорит о том, что бабочка ядовита и есть ее опасно.</em></p>
                <pre><code>В пoлной боеготовности взpослaя особь встречает потенциальныx врагов, отпyгивая их окраской. А вот её куколки невзрачны и напоминают мумифицированного человека, из-за чего мадагаскарская красавица стала героиней легенд у местного населения.</code></pre>
                <h3>Питание мадагаскарских ураний</h3>
                <p>Среди всего царства растений для своего питания урании выбирают нектар таких цветков, как: <em>чай, эвкалиптовые растения, манго, <a href="http://www.botanichka.ru/blog/2010/06/11/loquat/">японская мушмула</a>, терминалия</em>.</p>
                <div >
                    <img class="imageArticle" alt="Бабочка" src="../resources/butterfly2.jpg">
                </div>
                <h3>Враги урании в природе</h3>
                <p>Поскольку мадагаскарская урания – ядовитая бабочка, то немногие животные отваживаются ее съесть. Очень редко урании погибают от случайного нападения некоторых птиц. Но угроза исчезновения из земной фауны все же есть, и она кроется в резком сокращении растений, являющихся источником питания для этих бабочек.

                         Человек также причастен к сокращению численности этих прекрасных созданий. Их чудные крылья привлекают коллекционеров, ювелиров и изготовителей различных сувениров. Для этих целей и производится массовый отлов мадагаскарских ураний. <strong>Но действительно ли ради красивых кулонов или очередной статуэтки на витрине магазина стоит убивать такое чудо природы?!</strong></p>
                <div >
                    <img class="imageArticle" alt="Бабочка" src="../resources/butterfly3.jpg">
                </div>
            </div><!-- /.blog-post -->

            <ul class="pager">
                <li><a href="#">назад</a></li>
                <li><a href="#">вперед</a></li>
            </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Интересный факт</h4>
                <p>Причудливая асимметричная окраска крыльев мадагаскарской урании формируется в результате воздействия высоких температур еще в то время, когда насекомое находится внутри куколки.</p>
            </div>
            <div class="sidebar-module">
                <h4>Другие наши статьи</h4>
                <ol class="list-unstyled">
                    <li><a href="../views/phenyk.html">Милый фенек</a></li>
                    <li><a href="../views/nosach.html">Необыкновенный носач</a></li>
                    <li><a href="../views/theImperialTamarin.html">Императорский тамарин</a></li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4>Разработчики</h4>
                <ol class="list-unstyled">
                    <li><a href="#">И вот такой</a></li>
                    <li><a href="#">И такой еще</a></li>
                    <li><a href="#">И вот этот</a></li>
                    <li><a href="#">А еще вот этот</a></li>
                    <li><a href="#">Ну и еще один</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
    <p>Сайт студентов группы 473601</p>
    <p>
        <a href="#">Наверх</a>
    </p>
</div>

<script src="../libraries/jquery-3.2.0.min.js"></script>
<script src="../libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/article.js"></script>
</body>
</html>