<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article title</title>
    <link rel="stylesheet" href="../libraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/article.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar navbar-color navbar-inverse navbar-default navbar-static-top">
        <div class="container ">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../views/index.html"><span class="text-color-active">Главная страница</span></a></li>

                    <li class="dropdown">
                        <a id="dropdown" class="dropdown-toggle" data-toggle="dropdown"><span class="text-color">О разработчиках <b
                                class="caret"></b></span></a>
                        <ul id="list" class="dropdown-menu navbar-color">
                            <!--поменять ссылки-->
                            <li><a href="#"><span class="text-color-dropdown">Атаманчук Дмитрий</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Вабищевич Галина</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Горбачик Никита</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Донцова Александра</span></a></li>
                            <li><a href="#"><span class="text-color-dropdown">Зинкевич Елена</span></a></li>
                            <!--до сюда-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Самые необычные животные в мире</h1>
        <p class="lead blog-description">Богатству фауны нет границ!</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Необыкновенная обезьяна с удивительным названием Носач</h2>
                <p class="blog-post-meta">Январь 1, 2017 автор <a href="#">Выхухоль</a></p>


                <p>Носач — очень редкий и весьма необычный вид обезьян. Носачи относятся к <a href="http://www.dixi-wild.com/index.php/dikie-zhivotnye/163-semejstvo-martyshkovykh">семейству мартышковых</a>, но из-за специфического внешнего вида выделены в отдельный род с единственным видом.</p>
                <hr>
                <h3>Как выглядит носач?</h3>
                <div >
                    <img class="imageArticle" alt="Носач" src="../resources/nosach.jpg">
                </div>
                <p>Носачи — обезьяны среднего размера, но среди мелких мартышек кажутся великанами. Длина тела составляет 55-72 см, носачи имеют <em>очень длинный хвост</em>, который почти равен длине тела (66-75 см). Вес колеблется от 12 до 24 кг, причем <em>самцы при одинаковой длине тела весят почти в два раза больше самок.</em> Как и все мартышки носачи имеют небольшую округлую голову, длинные конечности с цепкими пальцами и мускулистый хвост. Впрочем, хвостом носачи пользуются сравнительно редко и его гибкость уступает таковой у других видов обезьян.</p>
                <blockquote>
                    <p>Главная внешняя особенность этих обезьян — удивительный нос, который больше не встретишь ни у какого животного. <strong>У самок нос чуть удлинен и кокетливо вздернут острым треугольничком кверху, а у самцов с точностью до наоборот — большой и раздутый нос свисает словно огурец.</strong></p>
                </blockquote>
                <p>Кроме того, самцы отличаются от самок выраженным валиком кожи на плечах (своеобразным воротником) и <strong>объемистым животом как у любителей пива</strong>. Шерсть у этих обезьян короткая и прилегающая. Голова, плечи, спина и живот окрашены в рыже-коричневые тона, «воротник» вокруг шеи белесый, хвост и конечности серые, на пояснице белое треугольное пятно. Голая кожа на лице желтовато-рыжая.</p>
                <h3>Обитание и образ жизни носачей</h3>
                <p>Эти обезьяны живут во влажных густых лесах по берегам рек и в мангровых зарослях. Активны они преимущественно днем, большую часть времени держатся в кронах деревьев, на землю спускаются нечасто. При передвижении в кронах носачи могут ходить по стволам и веткам на четырех конечностях, могут перебрасывать поочередно передние лапы и подтягиваться на них (такой способ передвижения называется брахиация), а могут и прыгать с ветки на ветку на большие расстояния. <strong>На небольшой дистанции носачи могут ходить на двух ногах, что характерно только для высокоорганизованных человекообразных обезьян, но не для мартышковых.</strong></p>
                <blockquote>
                    <p>Носачи являются узкими эндемиками, то есть встречаются на ограниченной территории. Обитают они только на <a href="https://www.syl.ru/article/153495/new_ostrov-borneo-gde-nahoditsya-ostrov-borneo">о. Борнео</a> (Калимантан) Малайского архипелага и <strong>больше нигде в мире.</strong></p>
                </blockquote>
                <div >
                    <img class="imageArticle" alt="Носач" src="../resources/nosach1.jpg">
                </div>
                <blockquote>
                    <p>Кроме того носачи прекрасно плавают и даже… ныряют!</p>
                </blockquote>
                <p>Для этого у них между вторым и третьим пальцами на ногах есть плавательные перепонки. <strong>Это единственный вид обезьян приспособленный к передвижению в воде и единственный способный нырять</strong>. Под водой носачи могут проплыть <em>12-20 м</em>.</p>
                <p>Носачи живут стаями, насчитывающими до 20 особей. Возглавляет группу вожак-самец, самки и молодые самцы занимают подчиненное положение. Подросшие самцы отделяются от группы и живут поодиночке до тех пор, пока не смогут составить конкуренцию вожаку. Между собой носачи конфликтуют редко, хотя мелкие стычки не исключены. Несмотря на семейный уклад жизни спят носачи порознь на довольно большом расстоянии друг от друга (до 300 м). Эти обезьяны подвижны и довольно крикливы. Особенно любят кричать самцы, для этого они даже устраивают в утренние часы вокальные соревнования — кто кого перекричит. Обладатель самого громкого голоса имеет большой авторитет среди сородичей.</p>
                <div >
                    <img class="imageArticle" alt="Носач" src="../resources/nosach2.jpg">
                </div>
                <pre><code><strong>Интересный факт:</strong> Из-за своеобразных звуков носачей иногда называют <em>кахау</em>.</code></pre>
                <h3>Чем питается носач?</h3>
                <p>Питаются носачи листьями и плодами деревьев, причем отдают предпочтение молодым листьям и незрелым плодам, изредка поедают цветы и насекомых. Кормежку они начинают у реки, затем углубляются в лес и к вечеру возвращаются обратно. На расстоянии свыше 1 км от воды этих животных уже не встретишь.</p>
                <div >
                    <img class="imageArticle" alt="Носач" src="../resources/nosach3.jpg">
                </div>
                <h3>Враги носачей</h3>
                <p>Главными врагами носачей являются: </p>
                <ol>
                    <li>Крокодилы, которые нападают на обезьян во время переправы через реку. По этой причине носачи всегда стараются преодолевать расстояние по суше, а переправу совершают в самом узком месте реки, хотя и отлично плавают.</li>
                    <li>Дымчатые леопарды</li>
                    <li>Орлы</li>
                    <li>Вараны</li>
                    <li>Питоны</li>
                </ol>

            </div><!-- /.blog-post -->

            <ul class="pager">
                <li><a href="../views/madagascarButterflyUrania.html">Назад</a></li>
                <li><a href="../views/theImperialTamarin.html">Вперед</a></li>
            </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Интересный факт</h4>
                <p>Носачи считаются лучшими пловцами среди приматов.</p>
            </div>
            <div class="sidebar-module">
                <h4>Другие наши статьи</h4>
                <ol class="list-unstyled">
                    <li><a href="../views/phenyk.html">Милый фенек</a></li>
                    <li><a href="../views/madagascarButterflyUrania.html">Завораживающая мадагаскарская бабочка</a></li>
                    <li><a href="../views/theImperialTamarin.html">Императорский тамарин</a></li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4>Разработчики</h4>
                <ol class="list-unstyled">
                    <li><a href="#">И вот такой</a></li>
                    <li><a href="#">И такой еще</a></li>
                    <li><a href="#">И вот этот</a></li>
                    <li><a href="#">А еще вот этот</a></li>
                    <li><a href="#">Ну и еще один</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="row">
    <div class="col-xs-12">
        <hr class="navbar-inverse">
        <div class="footer">
            <p class="text-center"> © Студенты группы 473601</p>
            <p class="text-center">
                <a href="#">Наверх</a>
            </p>
            <br>
        </div>
    </div>
</div>

<script src="../libraries/jquery-3.2.0.min.js"></script>
<script src="../libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/article.js"></script>
</body>
</html>