<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article title</title>
    <link rel="stylesheet" href="../libraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/article.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar navbar-color navbar-inverse navbar-default navbar-static-top">
        <div class="container ">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../views/index.html"><span class="text-color-active">Главная страница</span></a></li>

                    <li class="dropdown">
                        <a id="dropdown" class="dropdown-toggle" data-toggle="dropdown"><span class="text-color">О разработчиках <b
                                class="caret"></b></span></a>
                        <ul id="list" class="dropdown-menu navbar-color">
                            <!--поменять ссылки-->
                            <li><a href="../views/developers/AtamanchukDmitry.html">Атаманчук Дмитрий</a></li>
                            <li><a href="../views/developers/VabishchevichGalina.html">Вабищевич Галина</a></li>
                            <li><a href="../views/developers/GorbachikNikita.html">Горбачик Никита</a></li>
                            <li><a href="../views/developers/DontsovaAlexandra.html">Донцова Александра</a></li>
                            <li><a href="../views/developers/ZinkevichElena.html">Зинкевич Елена</a></li>
                            <!--до сюда-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Самые необычные животные в мире</h1>
        <p class="lead blog-description">Богатству фауны нет границ!</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Фенек - самое удивительное животное из рода лисиц</h2>
                <p class="blog-post-meta">Январь 1, 2017 автор <a href="#">Выхухоль</a></p>


                <p><strong>Лисица фенек</strong> (лат. Vulpes zerda) – это пустынная <a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%8B%D0%BA%D0%BD%D0%BE%D0%B2%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BB%D0%B8%D1%81%D0%B8%D1%86%D0%B0">лисица</a>, которая отличается от других видов очень маленькими размерами тела и непропорционально большими ушами. Это животное относится к отряду хищные, семейству псовые, роду лисицы, виду фенек.Свое название этот зверек получил от арабского варианта слова «лиса» —  «fanak».</p>
                <hr>
                <h2>Лисица фенек – описание и фотографии. Как выглядит фенек?</h2>
                <div >
                    <img class="imageArticle" alt="Фенек" src="../resources/phenyk1.jpg">
                </div>
                <p>Размеры фенека не больше обычной кошки или маленькой собаки. <em>Длина тела составляет в среднем 35 сантиметров, длина хвоста – 30 сантиметров, высота зверьков – до 25 сантиметров, а вес всего лишь 1,5 килограмма!</em> Средняя продолжительность жизни фенека составляет <strong>12 лет</strong>.</p>
                <h3>Уши фенека</h3>

                <p>Лисица фенек имеет маленькую заостренную мордочку, большие глаза и маленькие зубы. Характерной особенностью этих лисичек, благодаря которой их тяжело спутать с другими животными рода лисиц, являются уши фенека. При маленьких размерах головы они смотрятся совсем непропорционально. Такие большие уши нужны животному не только для того, чтобы он мог расслышать малейший шорох рядом, но и для охлаждения тела в жарком климате.</p>
                <div >
                    <img class="imageArticle" alt="Фенек" src="../resources/phenyk.jpg">
                </div>
                <blockquote>
                    <p>Длина ушей достигает <strong> 15 см!</strong></p>
                </blockquote>
                <h3>Где обитает лиса фенек?</h3>
                <p>Фенек обитает в пустынях Северной Африки. Живут зверьки небольшими группами, однако на охоту отправляются отдельно, каждый сам по себе.
                <div >
                    <img class="imageArticle" alt="Фенек" src="../resources/phenyk2.jpg">
                </div>
                <p>В дикой природе фенек выбирает для проживания места вблизи зарослей травы или мелкого кустарника, при их отсутствии он также может селиться в пещерах и расщелинах. Но чаще всего животные роют норы со сложной системой ходов, которые имеют 2-3 выхода. За одну ночь они способны выкопать нору глубиной более <em>5-ти метров</em>.</p>
                <pre><code><strong>Интересный факт:</strong> ушастый фенек умеет прыгать почти на 80 сантиметров в высоту и на 1 метр в длину.</code></pre>
                <h3>Чем питается фенек?</h3>
                <p>Пищу лиса фенек добывает,  вырывая ее из песка. Большую часть рациона животного составляют мелкие птицы и рептилии, а также насекомые (чаще всего <a href="http://nashzeleniymir.ru/%D1%81%D0%B0%D1%80%D0%B0%D0%BD%D1%87%D0%B0/">саранча</a>). В водопое пустынный лис не нуждается, так как в ходе эволюции настолько хорошо приспособился к жаркому и сухому климату пустынь, что подолгу может обходиться без воды, получая жидкость из поедаемой пищи – из листьев, плодов или корней растений, из мяса.</p>
                <img class="imageArticle" alt="Фенек" src="../resources/phenyk4.jpg"/>
                <h3>Лиса фенек в домашних условиях</h3>
                <blockquote>
                    <p>Купить лису фенёк можно, начиная от<strong> 400$</strong></p>
                </blockquote>

                <p>Благодаря своей внешности маленькая лисичка фенек в последнее время стала популярным экзотическим домашним питомцем.  Однако, <em>домашняя лиса фенек</em> – не самый простой в плане содержания питомец.</p>
                <ol>
                    <li>Пустынный лис – это ночное животное и может доставить своим хозяевам некоторые неудобства, мешая спать.</li>
                    <li>Фенеки нуждаются в дрессировках, иначе могут возникнуть проблемы с послушанием. Их достаточно сложно приучить к лотку, а запах этих лисичек крайне резкий и неприятный.</li>
                    <li>Для содержания лисы фенек в домашних условиях вам понадобится большая клетка или даже отдельная комната в квартире. Пол в такой комнате необходимо полностью засыпать песком, чтобы пустынный лис имел возможность вырыть для себя нору.</li>
                </ol>
                <div >
                    <img class="imageArticle" alt="Фенек" src="../resources/phenyk3.jpg">
                </div>

            </div><!-- /.blog-post -->

            <ul class="pager">
                <li><a href="#">назад</a></li>
                <li><a href="#">вперед</a></li>
            </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Интересный факт</h4>
                <p>Фенек – самый маленький вид псовых в мире.</p>
            </div>
            <div class="sidebar-module">
                <h4>Другие наши статьи</h4>
                <ol class="list-unstyled">
                    <li><a href="../views/madagascarButterflyUrania.html">Завораживающая мадагаскарская бабочка</a></li>
                    <li><a href="../views/nosach.html">Необыкновенный носач</a></li>
                    <li><a href="../views/theImperialTamarin.html">Императорский тамарин</a></li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4>Разработчики</h4>
                <ol class="list-unstyled">
                    <li><a href="../views/developers/AtamanchukDmitry.html">Атаманчук Дмитрий</a></li>
                    <li><a href="../views/developers/VabishchevichGalina.html">Вабищевич Галина</a></li>
                    <li><a href="../views/developers/GorbachikNikita.html">Горбачик Никита</a></li>
                    <li><a href="../views/developers/DontsovaAlexandra.html">Донцова Александра</a></li>
                    <li><a href="../views/developers/ZinkevichElena.html">Зинкевич Елена</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
    <p>Сайт студентов группы 473601</p>
    <p>
        <a href="#">Наверх</a>
    </p>
</div>

<script src="../libraries/jquery-3.2.0.min.js"></script>
<script src="../libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/article.js"></script>
</body>
</html>