<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article title</title>
    <link rel="stylesheet" href="../libraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/article.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar navbar-color navbar-inverse navbar-default navbar-static-top">
        <div class="container ">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../views/index.html"><span class="text-color-active">Главная страница</span></a></li>

                    <li class="dropdown">
                        <a id="dropdown" class="dropdown-toggle" data-toggle="dropdown"><span class="text-color">О разработчиках <b
                                class="caret"></b></span></a>
                        <ul id="list" class="dropdown-menu navbar-color">
                            <!--поменять ссылки-->
                            <li><a href="../views/developers/AtamanchukDmitry.html">Атаманчук Дмитрий</a></li>
                            <li><a href="../views/developers/VabishchevichGalina.html">Вабищевич Галина</a></li>
                            <li><a href="../views/developers/GorbachikNikita.html">Горбачик Никита</a></li>
                            <li><a href="../views/developers/DontsovaAlexandra.html">Донцова Александра</a></li>
                            <li><a href="../views/developers/ZinkevichElena.html">Зинкевич Елена</a></li>
                            <!--до сюда-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Самые необычные животные в мире</h1>
        <p class="lead blog-description">Богатству фауны нет границ!</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Императорский тамарин – усатый весельчак</h2>
                <p class="blog-post-meta">Январь 1, 2017 автор <a href="#">Выхухоль</a></p>


                <p>Императорские тамарины – это вид маленьких обезьянок из семейства <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%B3%D1%80%D1%83%D0%BD%D0%BA%D0%BE%D0%B2%D1%8B%D0%B5">игрунковые</a>. Главное достоинство этой малышки – раскидистые белые усы.</p>
                <hr>

                <div>
                    <img class="imageArticle" alt="Императорский тамарин" src="../resources/theImperialTamarin.jpg">
                </div>
                <p>Но не только этим прославились тамарины. У них еще и особенная социальная иерархия: в стае главный не самец, как это принято у большинства животных, а самая старая самка. Чем же занимаются мужские особи у этих обезьян? На их долю выпала добыча пропитания, а так же они выполняют роль носильщиков детенышей. Забавно, не правда ли?</p>
                <blockquote>
                    <p>Тельце у этого примата совсем миниатюрное, оно не вырастает в длину больше,<strong>чем на 25 сантиметров.</strong> Масса взрослой особи тамарина составляет около<strong> 300 граммов.</strong></p>
                </blockquote>
                <div >
                    <img class="imageArticle" alt="Императорский тамарин" src="../resources/theImperialTamarin1.jpg">
                </div>
                <p>Хвост у примата очень длинный, зачастую, он равен размеру туловища. За счет такой особенности сразу и не скажешь, что тамарин – маленькая обезьянка. Хвост помогает балансировать животному при перемещении по ветвям деревьев, когда оно пытается добраться до очередного вкусного и спелого плода.</p>
                <h2>Образ жизни императорского тамарина</h2>
                <p>Эти обезьянки – <a href="http://cyclowiki.org/wiki/%D0%94%D1%80%D0%B5%D0%B2%D0%B5%D1%81%D0%BD%D1%8B%D0%B5_%D0%BC%D0%BB%D0%B5%D0%BA%D0%BE%D0%BF%D0%B8%D1%82%D0%B0%D1%8E%D1%89%D0%B8%D0%B5">древесные животные</a>. Для такого образа жизни природа дала им все необходимое: длинный хвост, когти и проворные лапки. Открытых пространств тамарины стараются избегать. Проживают эти приматы небольшими группами, в которых не больше 10 особей. Свою территорию образовавшаяся стая тщательно охраняет. Если вдруг сюда забредут другие тамарины, то они тот час же подвергаются изгнанию.</p>
                <div >
                    <img class="imageArticle" alt="Императорский тамарин" src="../resources/theImperialTamarin2.jpg">
                </div>
                <p>У них сильно развита социальная иерархия. <em>В стае царит матриархат. Вожаком здесь считается самая опытная и старая самка.</em> На ступеньке ниже стоят другие самки, затем детеныши и на самой нижней ступени — самцы. Им отведена вполне конкретная роль в жизни стаи – добыча пищи для остальных членов группы и перенос маленьких детенышей. Поэтому в группе самцов мало – не более 2-х особей.</p>
                <h3>Где обитает императорский тамарин</h3>
                <p>Это млекопитающее отряда приматов проживает в тропических лесах, растущих на территории Южноамериканского континента. Тамаринов встречают в Бразилии, Перу и Боливии.</p>
                <h3>Рацион питания императорского тамарина</h3>
                <p>Как и все небольшие обезьянки, питаются эти «императоры животного мира» <em>фруктами, различными растениями, молодыми побегами, почками и цветками</em>. Но кроме растительной пищи в их рационе питания присутствует и белковая пища – <em>мелкие насекомые, ящерицы, лягушки</em>.  Не побрезгуют даже птичьими яйцами, найденными на верхушках деревьев.</p>
                <pre><code>Иногда в стае устраиваются «парикмахерские» дни, когда обезьянки помогают друг другу подкорачивать усы. Этот процесс выполняет важную коммуникативную роль в стае.</code></pre>
                <h3>Размножение тамаринов</h3>
                <p>Беременная самка императорского тамарина вынашивает потомство около 1,5 месяцев. Немудрено, что после такой короткой беременности малыши появляются на свет совершенно беспомощными и весят лишь 35 граммов. </p>
                <img class="imageArticle" alt="Императорский тамарин" src="../resources/theImperialTamarin3.jpg"/>
                <p>Зато у детенышей уже при рождении есть знаменитая тамаринская борода и усики. Устоявшийся матриархат у этих приматов перекладывает всю заботу о новорожденных на плечи мужской половины стаи. Детеныши тамаринов уже на третьем месяце от роду становятся более или менее самостоятельными: они могут двигаться и сами кушать. В последствии, по достижении 1,5 лет, молодые самочки остаются в своей семье, а самцы уходят из нее, «вступая» в другие стаи.</p>
                <blockquote>
                    <p>Императорские тамарины живут в природе около<strong> 10 – 15 лет.</strong></p>
                </blockquote>
                <h3>Численность</h3>
                <p>Экзотическая внешность этих забавных приматов привлекает к себе внимание браконьеров. Которые отлавливают тамаринов для частных коллекций и продажи в зоопарки и питомники.

                    В настоящее время этим обезьянкам присвоен статус <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%8F%D0%B7%D0%B2%D0%B8%D0%BC%D1%8B%D0%B5_%D0%B2%D0%B8%D0%B4%D1%8B">«уязвимый вид»</a>.</p>
            </div><!-- /.blog-post -->

            <ul class="pager">
                <li><a href="#">назад</a></li>
                <li><a href="#">вперед</a></li>
            </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Иинтересный факт</h4>
                <p>Единственный вид обезьян, у которых социальная иерархия - матриархат!</p>
            </div>
            <div class="sidebar-module">
                <h4>Другие наши статьи</h4>
                <ol class="list-unstyled">
                    <li><a href="../views/phenyk.html">Милый фенек</a></li>
                    <li><a href="../views/nosach.html">Необыкновенный носач</a></li>
                    <li><a href="../views/madagascarButterflyUrania.html">Завораживающая мадагаскарская бабочка</a></li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4>Разработчики</h4>
                <ol class="list-unstyled">
                    <li><a href="../views/developers/AtamanchukDmitry.html">Атаманчук Дмитрий</a></li>
                    <li><a href="../views/developers/VabishchevichGalina.html">Вабищевич Галина</a></li>
                    <li><a href="../views/developers/GorbachikNikita.html">Горбачик Никита</a></li>
                    <li><a href="../views/developers/DontsovaAlexandra.html">Донцова Александра</a></li>
                    <li><a href="../views/developers/ZinkevichElena.html">Зинкевич Елена</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
    <p>Сайт студентов группы 473601</p>
    <p>
        <a href="#">Наверх</a>
    </p>
</div>

<script src="../libraries/jquery-3.2.0.min.js"></script>
<script src="../libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/article.js"></script>
</body>
</html>