
body{
    background-color: #FBEAC9 ;
}

.navbar-color, .btn{
    background-color: #A1693B;
}

.jumbotron {
    background-color: #f7e1b5;
}

.text-color-active:hover{
    background-color: #A1693B;
    color: white;
}

.text-color-dropdown, .btn, .text-color, .text-color-active{
    color: #FBEFD6;
}
.text-color-dropdown:hover, .btn:hover{
    color: black;
}

object{
    width: 330px;
    height: 240px;
}